<app-default-dialog
  title="Import links"
  class="large block min-h-[300px] overflow-auto"
>
  <label class="block">
    <input
      [style.display]="'none'"
      #fileInput
      type="file"
      (change)="onUpload($event)"
    />
    <div
      *ngIf="!fileProcessed && !fileInProcess"
      btn
      full
      rounded
      class="cursor-pointer h-16 text-xl mt-20"
    >
      Select file...
    </div>
  </label>

  <mat-spinner
    *ngIf="fileInProcess"
    class="loading-indicator"
    [diameter]="150"
  ></mat-spinner>

  <div *ngIf="fileProcessed">
    <p class="p-4 bg-warning text-center text-warningInv">
      You can select directories to remove
    </p>
    <ng-template
      *ngFor="let d of ids ?? []"
      [ngTemplateOutlet]="folderList"
      [ngTemplateOutletContext]="{
        $implicit: d,
        depth: 0
      }"
    >
    </ng-template>
    <div class="actions">
      <button btn primary rounded (click)="onClose()" class="h-8 w-[150px]">
        OK
      </button>
      <button
        *ngIf="hasDirsToRemove()"
        btn
        danger
        rounded
        class="h-8 w-[200px] ml-auto"
        (click)="onDirsRemove()"
      >
        Remove selected
      </button>
    </div>
  </div>
</app-default-dialog>

<ng-template #folderList let-dir let-depth="depth">
  <div class="folder" [style.margin-left.px]="depth * 8">
    <label>
      <input
        type="checkbox"
        class="folder__checkbox"
        (change)="onDirSelect(lists[dir])"
        [checked]="!!dirsToRemove[dir]"
      />
      <span> {{ lists[dir].name ?? ' --- ' }} </span>
    </label>
    <div *ngIf="lists[dir].links.length > 0" class="links">
      <div class="link">
        {{ lists[dir].links[0].text }} ({{lists[dir].links[0].url}})
      </div>
      <div *ngIf="lists[dir].links.length > 1" class="links__count">
        +{{ lists[dir].links.length - 1 }} more
      </div>
    </div>
  </div>
  <ng-template
    *ngFor="let d of lists[dir].sublists ?? []"
    [ngTemplateOutlet]="folderList"
    [ngTemplateOutletContext]="{
        $implicit: d,
        depth: depth + 1
      }"
  >
  </ng-template>
</ng-template>
