<header class="w-screen top-0 fixed bg-bgPrimary100 text-primary100">
  <div
    class="container mx-auto flex justify-between items-center h-header z-10"
  >
    <a [routerLink]="['/']" class="text-2xl font-bold no-underline"
      >LinkFolder</a
    >
    <div class="flex-grow"></div>
    <button class="mr-3 text-lightbulb" (click)="onToggleTheme()">
      <svg-icon
        name="lightbulb-icon"
        [svgStyle]="{ height: '18px' }"
        class="block"
      ></svg-icon>
    </button>
    <button *ngIf="!isLogged" (click)="onSignin()">
      <svg-icon
        name="login-icon"
        [svgStyle]="{ height: '18px' }"
        class="block"
      ></svg-icon>
    </button>
    <button *ngIf="isLogged" (click)="onLogout()" class="">
      <svg-icon
        name="logout-icon"
        [svgStyle]="{ height: '18px' }"
        class="block"
      ></svg-icon>
    </button>
  </div>
</header>
