<header>
  <a [routerLink]="['/']" class="logo">LinkFolder</a>
  <div *ngIf="!isLogged; else logout" class="actions">
    <button btn (click)="openSigninDialog()">Signin</button>
    <button btn (click)="openSignupDialog()">Signup</button>
  </div>
  <ng-template #logout>
    <div class="actions">
      <div ngbDropdown>
        <button
          mat-button
          [matMenuTriggerFor]="profileMenu"
          class="profile-btn"
        >
          <span class="avatar"></span>
          <span class="username">{{ user?.name ?? 'Noname' }}</span>
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>
      </div>
    </div>
  </ng-template>
</header>
