<form [formGroup]="dirAccessForm" (ngSubmit)="submit()" class="form">
  <app-textfield
    autocomplete="off"
    label="Code"
    type="text"
    formControlName="code"
    id="code"
  ></app-textfield>
  <app-textfield
    autocomplete="off"
    type="text"
    label="Username"
    formControlName="username"
    id="username"
  ></app-textfield>
  <app-textfield
    autocomplete="off"
    type="date"
    label="Expires in"
    formControlName="expiresIn"
    id="expiresIn"
  ></app-textfield>
  <button btn primary full class="h-10" type="submit">Save</button>
</form>
