<app-field-wrapper
  [name]="id ?? formControlName"
  [label]="label ?? formControlName"
  [errors]="errors"
  [required]="required"
  [roundedLeft]="roundedLeft"
  [roundedRight]="roundedRight"
>
  <select
    class="w-full overflow-hidden border-0 focus:outline-0 focus-visible:outline-0 focus-visible:shadow-none px-3 text-base bg-transparent"
    [style.height.px]="height"
    [required]="required"
    [formControl]="control"
    [id]="id ?? formControlName"
  >
    <option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </option>
  </select>
</app-field-wrapper>
