<div
  class="droplist"
  cdkDropList
  appDragNDropManager
  [cdkDropListData]="items"
  (cdkDropListDropped)="drop($event)"
  >
  <ng-container *ngIf="items" >
    <div *ngIf="!isExpanded && !isHome">
      <button (click)="openFolder()">home</button>
      <button
        *ngIf="items && goToParentFolder"
        (click)="goToParentFolder(items)"
        >..</button>
    </div>
    <ng-container  *ngFor="let item of items.children; let i = index" >
      <ng-container *ngIf="item['type']=='Link'; else elseBlock">
        <div app-link-item
          [id]="i"
          class="dragitem"
          cdkDrag
          [text]='item.name || item["url"]'
          [delete]='onDeleteItem'
          [edit]='onEditItem'
          ></div>
      </ng-container>
      <ng-template #elseBlock>
          <button (click)="collapseFolder(item)">collapse</button>
          <div app-link-list
            cdkDrag
            [goToParentFolder]='goToParentFolder'
            [isHome]="false"
            [openFolder]='openFolder'
            [delete]='delete'
            [edit]='edit'
            [items]='item'
            [drop]='drop'
            [isExpanded]="true"
            >
          </div>
          <!--   <ng-template #controlsBlock> -->
          <!--     <div class="controls"> -->
          <!--     <button (click)="openFolder(item)"> -->
          <!--       {{item.name}} -->
          <!--     </button> -->
          <!--     <button (click)="expandFolder(item)"> -->
          <!--       expand -->
          <!--     </button> -->
          <!--     <button (click)="openFolder(item, true)"> -->
          <!--       open right -->
          <!--     </button> -->
          <!--     <button (click)="onDeleteItem(i)"> -->
          <!--       Delete -->
          <!--     </button> -->
          <!--     </div> -->
          <!-- </ng-template> -->
      </ng-template>
    </ng-container>
  </ng-container>
</div>
