<div rounded btn primary non-interactive class="link">
  <span>Your link: </span>
  <a target="_blank" href="{{ makeUrl(code.code!) }}">
    {{ makeUrl(code.code!) }}
  </a>
</div>
<div class="actions">
  <button btn primary rounded class="action" (click)="copy(code.code!)">
    <svg-icon name="copy-icon"></svg-icon>
  </button>
  <ng-container *ngIf="editable">
    <button btn primary rounded class="action" (click)="edit()">
      <svg-icon name="pen-icon"></svg-icon>
    </button>
    <button btn primary rounded class="action" (click)="prolong()">
      <svg-icon name="clock-icon"></svg-icon>
    </button>
  </ng-container>
</div>

