<app-field-wrapper
  class="flex-grow"
  [errors]="errors"
  [faq]="showExample ? 'Example: http://example.com Example Link' : ''"
  [roundedLeft]="roundedLeft"
  [errorMapper]="errorMapper"
  [roundedRight]="0"
  [formGroup]="formGroup"
>
  <input
    class="w-full border-0 focus:outline-0 focus-visible:outline-0 focus-visible:shadow-none px-3 text-lg bg-transparent"
    [style.height.px]="height"
    autocomplete="off"
    formControlName="field"
    appAutofocus
    placeholder="https:// ..."
    (keyup.enter)="onCreateLink()"
    id="link"
  />
</app-field-wrapper>
<button
  class="submit mt-[-1px] flex justify-center !ring-0"
  btn
  primary
  aria-label="create link"
  [disabled]="!formGroup.controls['field'].dirty || errors.length > 0 || formGroup.controls.field.value?.length === 0"
  [style.borderTopLeftRadius.px]="0"
  [style.borderTopRightRadius.px]="roundedLeft"
  [style.borderBottomLeftRadius.px]="0"
  [style.borderBottomRightRadius.px]="roundedLeft"
  [style.height.px]="height + 2"
  [style.width.px]="80"
  (click)="onCreateLink()"
>
  <svg-icon
    svgClass="h-full p-1"
    class="block h-full"
    name="arrow-icon"
  ></svg-icon>
</button>
