<app-default-dialog
  title="Import links"
  [actions]="fileProcessed && ids.length > 0?actions:undefined"
  large
>
  <div class="min-h-[300px] flex flex-col">
    <div
      *ngIf="errors.length"
      class="flex flex-col rounded p-2 bg-danger items-center text-dangerInv"
    >
      <span *ngFor="let error of errors">{{ formatError(error) }}</span>
    </div>
    <input
      [style.display]="'none'"
      #fileInput
      id="fileInput"
      type="file"
      (change)="onUpload($event)"
    />
    <label
      for="fileInput"
      class="text-xl h-1 p-4 flex-grow"
      *ngIf="(!fileProcessed || ids.length === 0) && !fileInProcess"
    >
      <div class="h-full" btn full primary rounded>Select file...</div>
    </label>

    <mat-spinner
      *ngIf="fileInProcess"
      class="loading-indicator"
      [diameter]="150"
    ></mat-spinner>

    <ng-container *ngIf="fileProcessed && ids.length">
      <p class="p-4 !m-0 bg-warning text-center text-warningInv">
        You can select directories to remove
      </p>

      <div class="flex-grow mt-4">
        <ng-template
          *ngFor="let d of ids ?? []"
          [ngTemplateOutlet]="folderList"
          [ngTemplateOutletContext]="{
            $implicit: d,
            depth: 0
          }"
        >
        </ng-template>
      </div>
    </ng-container>
  </div>
</app-default-dialog>

<ng-template #actions>
  <button btn primary rounded aria-label="accept" (click)="onClose()" class="h-8 w-[150px]">
    OK
  </button>
  <button
    *ngIf="hasDirsToRemove()"
    btn
    danger
    rounded
    class="h-8 w-[200px] ml-10"
    (click)="onDirsRemove()"
  >
    Remove selected
  </button>
</ng-template>

<ng-template #folderList let-dir let-depth="depth">
  <div class="folder" [style.margin-left.px]="depth * 8">
    <label>
      <input
        type="checkbox"
        class="folder__checkbox"
        (change)="onDirSelect(lists[dir])"
        [checked]="!!dirsToRemove[dir]"
      />
      <span> {{ lists[dir].name ?? ' --- ' }} </span>
    </label>
    <div *ngIf="lists[dir].links.length > 0" class="links">
      <div class="link">
        {{ lists[dir].links[0].text }} ({{lists[dir].links[0].url}})
      </div>
      <div *ngIf="lists[dir].links.length > 1" class="links__count">
        +{{ lists[dir].links.length - 1 }} more
      </div>
    </div>
  </div>
  <ng-template
    *ngFor="let d of lists[dir].sublists ?? []"
    [ngTemplateOutlet]="folderList"
    [ngTemplateOutletContext]="{
        $implicit: d,
        depth: depth + 1
      }"
  >
  </ng-template>
</ng-template>
