.list {
  padding: 10px 385px;
}

.item {
  margin-top: 7px;
  box-shadow: 0 0 3px 1px #aaa;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  font-size: 20px;
  position: relative;
  a {
    text-decoration: none;
    color: #444;
  }

  .actions {
    position: absolute;
    right: 0;
    button {
      padding: 0;
      width: 20px;
      height: 20px;
      border: 0;
      background: transparent;
      margin-right: 10px;
    }
    svg {
      color: #ccc;
      width: 20px;
      height: 20px;
    }
  }
}
