.list {
  padding: 10px 385px;
}

.item {
  margin-top: 7px;
  box-shadow: 0 0 1px 1px #ddd;
  height: 32px;
  display: flex;
  border-radius: 5px;
  font-size: 18px;
  position: relative;
  transition: box-shadow ease-in-out 0.1s, background ease-in-out 0.1s;
  padding-right: 10px;
  column-gap: 10px;
  &:hover,
  &:focus-within {
    background: lighten(#5227cc, 40%);
    box-shadow: 0 0 3px 1px lighten(#5227cc, 20%);
  }
  a {
    padding-left: 15px;
    flex-grow: 1;
    height: 100%;
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #252525;
  }

  .actions {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    button {
      padding: 0;
      width: 17px;
      height: 17px;
      border: 0;
      background: transparent;
      color: lighten(#5227cc, 15%);
      & > svg-icon {
        display: block;
        height: 100%;
      }
      svg {
        height: 100%;
      }
      &:hover,
      &:focus {
        color: #5227cc;
      }
    }
  }
}

$linkHeight: 45px;

.link {
  width: 340px;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  margin: 25px auto 10px auto;
  height: $linkHeight;
  font-size: 20px;
  span {
    color: #ccc;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    position: absolute;
    top: 2px;
    font-size: 14px;
    font-weight: bold;
    left: 10px;
    font-style: italic;
  }
  a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    line-height: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    &:hover {
      opacity: 0.6;
    }
  }
}

h2 {
  padding: 0 385px;
  margin-top: 30px;
  margin-bottom: 0;
}
