.folders {
  display: flex;
  justify-content: space-between;
}

.link {
  border-radius: 5px;
  width: 340px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  color: #ccc;
  margin: 25px auto 10px auto;
  box-shadow: 0 0 10px 2px #999;
  height: 45px;
  font-size: 20px;
  position: relative;
  background: #5227cc;
  span {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    position: absolute;
    top: 2px;
    font-size: 14px;
    font-weight: bold;
    left: 10px;
    font-style: italic;
  }
  a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    line-height: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    &:hover {
      opacity: 0.6;
    }
  }
}
button {
  position: absolute;
  left: 100%;
  top: 0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #5227cc;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
  height: 100%;
  margin-left: 5px;
  svg {
    height: 100%;
  }
  &:hover {
    color: rgba(#fff, 0.6);
    background: rgba(#5227cc, 0.5);
  }
}
h2 {
  padding: 0 385px;
  margin-top: 30px;
  margin-bottom: 0;
}
