<ng-container *ngIf=canEdit>
  <app-link-form></app-link-form>
  <div *ngIf=code class="link">Your link: <a href="{{location.prepareExternalUrl(code)}}">{{document.location.origin}}{{location.prepareExternalUrl(code)}}</a></div>
</ng-container>
<app-link-simple-list></app-link-simple-list>
<!---->
<!-- <div app-link-list -->
<!--   appDragNDropManagerRoot -->
<!--   *ngFor="let item of listService.activeLists" -->
<!--   [goToParentFolder]='listService.openParentFolder' -->
<!--   [isHome]='listService.isHome(item.folder)' -->
<!--   [openFolder]='listService.openFolder' -->
<!--   [delete]='listService.deleteFromList' -->
<!--   [edit]='listService.editInList' -->
<!--   [items]='item.folder' -->
<!--   [drop]='drop'> -->
<!-- </div> -->
