<ng-template #folderList let-dir let-depth="depth">
  <div class="folder" [style.padding-left.px]="depth * 8">
    <input
      type="checkbox"
      class="folder__checkbox"
      [name]="dir"
      [checked]="isOpen(dir)"
      (change)="onDirChecked($event, dir)"
    />
    <button
      *ngIf="hasSubfolders(dir)"
      [ngClass]="{ 'expand-chevron': true, expanded: isExpanded(dir) }"
      (click)="isExpanded(dir) ? collapse(dir) : expand(dir)"
    >
      <svg-icon name="down-chevron-icon"></svg-icon>
    </button>
    <button
      class="folder__name"
      (click)="toggle(dir)"
      [title]="getFolder(dir)?.name ?? 'unknown'"
    >
      {{ getFolder(dir)?.name ?? 'unknown' }}
    </button>
    <div class="folder-bar">
      <button
        title="Create folder"
        class="folder__create"
        (click)="createSubdir(dir)"
      >
        <svg-icon name="create-folder-icon"></svg-icon>
      </button>
      <button
        title="Edit folder"
        class="folder__edit"
        (click)="openSettings(dir)"
      >
        <svg-icon name="gear-icon"></svg-icon>
      </button>
      <button title="Import file" (click)="openImportDialog(dir)" class="import-btn">
        <svg-icon name="import-icon"></svg-icon>
      </button>
      <button title="Export folder" class="download-btn">
        <svg-icon name="download-icon"></svg-icon>
      </button>
      <button
        title="Remove folder"
        class="folder__delete"
        (click)="removeDir(dir)"
      >
        <svg-icon name="trash-icon"></svg-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="isExpanded(dir)">
    <ng-template
      *ngFor="let d of getSubfolders(dir)"
      [ngTemplateOutlet]="folderList"
      [ngTemplateOutletContext]="{
        $implicit: d,
        depth: depth + 1
      }"
    >
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #linkList let-links>
  <div class="item" *ngFor="let link of links">
    <input
      type="checkbox"
      [checked]="isLinkSelected(link.id)"
      (change)="toggleLink(link.id)"
    />
    <a href="{{ link.url }}" target="_blank">{{ link.text ?? link.url }}</a>
    <div class="actions">
      <button class="edit" btn (click)="edit(link.directory, link.id)">
        <svg-icon name="gear-icon"></svg-icon>
      </button>
      <button class="delete" btn (click)="delete(link.directory, link.id)">
        <svg-icon name="trash-icon"></svg-icon>
      </button>
    </div>
  </div>
</ng-template>

<div class="layout">
  <div class="left-panel">
    <ng-template
      [ngTemplateOutlet]="folderList"
      [ngTemplateOutletContext]="{
        $implicit: directory,
        depth: 0
      }"
    >
    </ng-template>
  </div>
  <div class="right-panel">
    <h4>
      {{ title }}
    </h4>
    <app-link-form [directory]="opennedVariants" [hide]="true"></app-link-form>

    <div *ngIf="lists" class="list">
      <div class="action-bar">
        <input
          #linksCheckbox
          type="checkbox"
          (change)="toggleAllLinks($event)"
        />
        <span> {{ selectedLinksCount }} selected </span>
        <div class="action-bar__buttons" *ngIf="selectedLinksCount > 0">
          <button (click)="deleteSelected()">
            <svg-icon name="trash-icon"></svg-icon>
            Delete
          </button>
          <button (click)="moveLinks()">
            <svg-icon name="gear-icon"></svg-icon>
            Move
          </button>
          <button class="download-btn">
            <svg-icon name="download-icon"></svg-icon>
            Export
          </button>
        </div>
      </div>
      <ng-template
        [ngTemplateOutlet]="linkList"
        [ngTemplateOutletContext]="{ $implicit: links }"
      >
      </ng-template>
    </div>
  </div>
</div>
