<div class="list">
  <!-- <div class="item" *ngFor="let link of links"> -->
  <!--   <a href="{{ link.url }}" target="_blank">{{ link.text ?? link.url }}</a> -->
  <!--   <div class="actions"> -->
  <!--     <button class="edit" btn (click)="edit(link.id)"> -->
  <!--       <svg-icon name="gear-icon"></svg-icon> -->
  <!--     </button> -->
  <!--     <button class="delete" btn (click)="delete(link.id)"> -->
  <!--       <svg-icon name="trash-icon"></svg-icon> -->
  <!--     </button> -->
  <!--   </div> -->
  <!-- </div> -->
</div>
<a [routerLink]="['/']"> Go Home </a>
