<div
  class="droplist"
  cdkDropList
  appDragNDropManager
  [cdkDropListData]="items"
  (cdkDropListDropped)="drop($event)"
  >
  <div *ngIf="items" class="drop-place" >
    <div *ngIf="!isExpanded && !isHome">
      <button (click)="openFolder()">home</button>
      <button
        *ngIf="items && goToParentFolder"
        (click)="goToParentFolder(items)"
        >..</button>
    </div>
    <div *ngFor="let item of items.children; let i = index" cdkDrag>
      <div *ngIf="item['type']=='Link'; else elseBlock">
        <app-link-item
          [id]="i"
          [text]='item.name || item["url"]'
          [delete]='onDeleteItem'
          [edit]='onEditItem'
          ></app-link-item>
      </div>
      <ng-template #elseBlock>
        <div *ngIf="expanded?.includes(item['id']); else controlsBlock">
          <button (click)="collapseFolder(item)">collapse</button>
          <app-link-list
            [goToParentFolder]='goToParentFolder'
            [isHome]="false"
            [openFolder]='openFolder'
            [delete]='delete'
            [edit]='edit'
            [items]='item'
            [drop]='drop'
            [isExpanded]="true"
            >
          </app-link-list>
          </div>
          <ng-template #controlsBlock>
          <div class="controls">
          <button (click)="openFolder(item)">
            {{item.name}}
          </button>
          <button (click)="expandFolder(item)">
            expand
          </button>
          <button (click)="openFolder(item, true)">
            open right
          </button>
          <button (click)="onDeleteItem(i)">
            Delete
          </button>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
