<form [formGroup]="newLinkForm" [ngClass]="{ small: !showDescription }">
  <p>Insert link and press <span>Enter</span></p>
  <select
    *ngIf="directory && directory.length > 1"
    id="directory"
    formControlName="directory"
  >
    <option *ngFor="let dir of directory">{{ dir }}</option>
  </select>
  <input
    autocomplete="off"
    type="text"
    formControlName="link"
    (keyup.enter)="onCreateLink()"
    id="link"
  />
  <div *ngIf="lino && lino.invalid && (lino.dirty || lino.touched)">
    <div *ngIf="lino?.errors?.['required']">Link is required</div>
    <div *ngIf="lino?.errors?.['pattern']">Not a valid url</div>
  </div>
</form>
