$paddingY: 10px;
$paddingX: 15px;

:host {
  display: flex;
  &.large .dialog-wrapper {
    width: 640px;
  }
  .dialog-wrapper {
    width: 320px;
  }
}

.dialog-wrapper {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--dialog-bg);
  color: var(--default);
  &__inner {
    position: relative;
    padding: $paddingY $paddingX;
    overflow: auto;
  }
}

h2 {
  height: 50px;
  line-height: 20px;
  font-size: 20px;
  padding: 2px 30px;
  color: var(--default-80);
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--default-30);
  text-align: center;
}

.close {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  &::after,
  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 16px;
    height: 1px;
    background: currentColor;
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
