$paddingY: 10px;
$paddingX: 15px;

:host {
&.large .dialog-wrapper {
  width: 640px;
}
.dialog-wrapper {
  width: 320px;
}

}

.dialog-wrapper {
  position: relative;
  padding: $paddingY $paddingX;
  box-sizing: border-box;
  border-radius:5px;
}

h2 {
  height: 20px;
  line-height: 20px;
  font-size: 20px;

}

.close {
  background-color: transparent;
  border: none;
  border-radius:0px;
  padding: 2px;
  position: absolute;
  right: $paddingX;
  top: $paddingY;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
