<label *ngIf="selectable" class="checkbox">
  <input
    type="checkbox"
    [disabled]="!editable"
    [checked]="selected"
    (change)="checkboxHandler($event)"
  />
</label>
<a
  [ngClass]="{
    'h-full w-full flex items-center flex-grow overflow-hidden overflow-ellipsis': true,
    owned: owned
  }"
  [title]="link.url"
  [href]="link.url"
  target="_blank"
>
  <span class="whitespace-nowrap text-lg overflow-hidden overflow-ellipsis">
    {{ link.text }}
  </span>
</a>
<div class="actions flex items-center gap-x-[10px]">
  <button
    [disabled]="!editable"
    class="w-4 h-4"
    btn
    primary
    icon
    (click)="edit()"
  >
    <svg-icon name="gear-icon"></svg-icon>
  </button>
  <button
    [disabled]="!editable"
    class="w-4 h-4"
    btn
    primary
    icon
    (click)="delete()"
  >
    <svg-icon name="trash-icon"></svg-icon>
  </button>
</div>
