.content {
  margin-top: 10px;
  min-height: 300px;
}

.dir-name {
  display: flex;
  justify-content: space-between;
}

.access {
  border-top: 2px solid #ccc;
  margin-top: 15px;
  padding-top: 15px;
  &__add-btn {
    display: block;
    margin-left: auto;
    width: 100px;

  }
  &__list {
    margin: 0;
    padding: 0;
    overflow: scroll;
  }
  &__item {
    display: grid;
    height: 32px;
    grid-template-columns: 80px repeat(3, 1fr) 100px;
    border-bottom: 1px solid #ccc;
    > div {
      justify-content: center;
      display: flex;
      align-items: center;
    }
    &--header {
      font-weight: 500;
    }
  }
}
