<app-default-dialog title="Directory Settings" class="large">
  <div class="content">
    <form [formGroup]="editForm" (submit)="onEdit()">
      <label class="dir-name">
        <span>Name</span>
        <input
          id="name"
          autocomplete="off"
          type="text"
          formControlName="name"
        />
        <select id="parent" formControlName="parent">
          <option *ngFor="let d of avaliableParents" [value]="d.id">{{ d.name }}</option>
        </select>
      </label>
      <button *ngIf="editForm.dirty">Save</button>
    </form>
    <div class="access">
      <button class="access__add-btn" (click)="onAddAccessRule()">Add</button>
      <ul class="access__list">
        <div class="access__item access__item--header">
          <div>Code</div>
          <div>Username</div>
          <div>ExpiresIn</div>
          <div>UpdatedAt</div>
          <div></div>
        </div>
        <div class="access__item" *ngFor="let code of codes">
          <div>{{ code.code }}</div>
          <div>{{ code.username }}</div>
          <div>{{ code.expiresIn | date:'shortDate' }}</div>
          <div>{{ code.updatedAt | date:'shortDate' }}</div>
          <div class="access__item-actions">
            <button (click)="onEditAccess(code.id)">Edit</button>
            <button (click)="onDeleteAccess(code.id)">Delete</button>
          </div>
        </div>
      </ul>
    </div>
  </div>
</app-default-dialog>
