<app-default-dialog title="Sign in">
  <form [formGroup]="loginForm" (submit)="submit()">
    <div
      *ngIf="error"
      class="flex mb-2 flex-col rounded p-2 bg-danger items-center text-dangerInv"
    >
      {{ error }}
    </div>
    <app-textfield label="Login" formControlName="login"></app-textfield>
    <app-textfield
      label="Password"
      type="password"
      formControlName="password"
    ></app-textfield>
    <button
      [disabled]="loginForm.invalid || isSubmitting"
      rounded
      primary
      btn
      full
      class="h-10 text-lg"
      type="submit"
    >
      Sign in
    </button>
  </form>
  <div class="mt-4 text-center">
    Don’t have an account?
    <button class="p-0 m-0 text-primary" (click)="onSignup()">Sign up</button>
  </div>
</app-default-dialog>
