<ng-container *ngIf="guest$ | async as list">
  <h2 *ngIf="!list.editable" class="text-center text-default60">
    {{ list.name }}
  </h2>
  <app-guest-link-form
    class="block"
    *ngIf="list.editable"
    [hasLinks]="list.links.length > 0"
    [directory]="list.id"
    (onSubmit)="onCreateLinks($event)"
  ></app-guest-link-form>

  <ng-container *ngIf="list.editable && list.links.length && list.codes.length">
    <app-access-code
      *ngFor="let code of list.codes"
      [code]="code"
      class="my-[10px] mx-auto block w-[340px]"
      [directory]="list.id"
      (onCopy)="onCopyCodeUrl()"
      (onEdit)="onEditAccess($event)"
      (onProlong)="onProlongAccess($event)"
      [editable]="list.editable"
    >
    </app-access-code>
  </ng-container>

  <app-link-list
    *ngIf="list.links.length"
    [links]="list.links"
    [selectable]="false"
    [dirsInfo]="getDirsInfo(list)"
    class="block container max-w-[1200px] mt-[30px] mx-auto"
    (onEdit)="onEditLink($event)"
    (onDelete)="onDeleteLinks($event)"
  ></app-link-list>
</ng-container>
