@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: var(--default);
    background-color: var(--default-inv);
  }
  body {
    min-height: 100vh;
  }
}
:root {
  --default-30: #ccc;
  --default-60: #565656;
  --default-80: #333;
  --default-90: #222;
  --default: #111;
  --default-inv: #eee;
  --default-110: #000;
  --default-110-inv: #fff;

  --dialog-bg: #eee;

  --primary-90: #9274e5;
  --primary: #5227cc;
  --primary-inv: #fff;
  --primary-110: #381b8d;

  --danger-90: #df4957;
  --danger: #dc3545;
  --danger-inv: #fff;
  --danger-110: #cf2334;

  --warning: #ffb805;
  --warning-inv: #342525;

  --header: #fff;
  --header-bg: #5227cc;

  --sidebar: #333;
  --sidebar-bg: transparent;
  --sidebar-lim: #5227cc;
  --sidebar-item: #333;
  --sidebar-item-bg: #f7f7fd;
  --sidebar-item-selected: #111;
  --sidebar-item-selected-bg: #e6e0f9;

  --main-height: calc(100vh - var(--header-height));
  --sidebar-width: 280px;
  --header-height: 50px;

  --shadow: 0 1px 3px 0 #66666655, 0 1px 2px -1px #66666655;
  --shadow-primary: 0 0 3px 0 #5227cc, 0 1px 2px -1px #5227cc;

  --login: #fff;
  --login-hover: #c19c00;
  --login-focus: #c3a81b;
  --logout: #fff;
  --logout-hover: #c19c00;
  --logout-focus: #c3a81b;
  --theme-switch: #fff;
  --theme-switch-hover: #c19c00;
  --theme-switch-focus: #c3a81b;
}

html.dark {
  --theme-switch: #c19c00;
  --theme-switch-hover: #fff;
  --theme-switch-focus: #fff;
  --default-30: #666;
  --default-60: #969696;
  --default-80: #aaa;
  --default-90: #ccc;
  --default: #eee;
  --default-inv: #171717;
  --default-110: #fff;
  --default-110-inv: #333;

  --primary-90: #b9a6ee;
  --primary: #734ddd;
  --primary-inv: #fff;
  --primary-110: #5227cc;

  --danger-90: #ff4d17;
  --danger: #ff3c00;
  --danger-inv: #fff;
  --danger-110: #cc3000;

  --dialog-bg: #303030;

  --header: #fff;
  --header-bg: #444;

  --sidebar: #fff;
  --sidebar-bg: #404040;
  --sidebar-lim: transparent;
  --sidebar-item: #fff;
  --sidebar-item-bg: #3d3d3d;
  --sidebar-item-selected: #fff;
  --sidebar-item-selected-bg: #333;

  --shadow: 0 1px 3px 1px #555, 0 1px 2px -1px #444;
  --shadow-primary: 0 1px 3px 1px #5227cc, 0 1px 2px -1px #5227cc;
}

.mat-menu-item {
  line-height: 35px;
  height: 35px;
}

.success {
  background: #20c997;
  color: #fff;
}
.error {
  background: var(--danger);
  color: var(--danger-inv);
}

.warning {
  background: var(--warning);
  color: var(--warning-inv);
}
.custom-dialog-component {
  .mat-dialog-container {
    padding: 0;
    background-color: var(--dialog-bg);
    color: var(--default);
  }
  .mat-dialog-content {
    padding: 16px;
  }
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

svg-icon {
  display: block;
  height: 100%;
}

svg {
  height: 100%;
  width: 100%;
}
