<div class="flex" [formGroup]="directoryForm">
  <app-select
    *ngIf="directories.length > 1"
    class="w-[100px] mr-[1px]"
    label=""
    [roundedLeft]="4"
    [roundedRight]="0"
    [height]="32"
    [options]="directories"
    formControlName="directory"
  ></app-select>

  <app-link-form
    class="w-[80%] {{ directories.length > 1 ? 'w-[420px]' : 'w-[521px]' }}"
    [height]="32"
    [roundedLeft]="directories.length > 1 ? 0 : 4"
    [roundedRight]="4"
    (onSubmit)="raiseOnSubmit($event)"
  ></app-link-form>
  <button
    type="button"
    btn
    primary
    rounded
    aria-label="import links"
    class="ml-5 w-[32px] h-[32px] p-[4px] pl-[2px] pt-[3px]"
    (click)="raiseImportEvent()"
  >
    <svg-icon class="w-5" name="import-icon"></svg-icon>
  </button>
</div>
