:host {
  height: 100%;
  display: flex;

  .left-panel {
    overflow: auto;
    flex-shrink: 0;
    padding: 16px 8px 16px 0px;
    width: 280px;
    box-sizing: border-box;
    position: relative;
    color: var(--sidebar);
    background: var(--sidebar-bg);
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      width: 1px;
      height: 98%;
      border: 3px;
      box-shadow: 0 0 5px 0px var(--sidebar-lim);
      transform: translate(0, -50%);
      background: var(--sidebar-lim);
    }
  }

  .right-panel {
    overflow: auto;
    flex-grow: 1;
    padding: 16px;
  }
}
