<ng-container *ngIf="vm$ | async as vm">
  <app-folder-tree
    class="left-panel"
    [root]="vm.root"
    [selected]="vm.openned"
    [lists]="vm.lists"
    (onToggle)="onSelect($event)"
    (onAction)="onAction($event)"
  ></app-folder-tree>

  <div class="right-panel">
    <div class="block">
      <h1 class="!text-lg !leading-none">{{ vm.title || 'Your links' }}</h1>

      <app-user-link-form
        *ngIf="vm.variants.length > 0"
        (onSubmit)="onCreateLinks($event)"
        (onImport)="onImport($event)"
        [directories]="vm.variants"
      ></app-user-link-form>
    </div>

    <app-link-list
      *ngIf="vm.links.length"
      [links]="vm.links"
      [selectable]="true"
      [dirsInfo]="vm.lists"
      [showBar]="true"
      class=""
      (onEdit)="edit($event)"
      (onDelete)="delete($event)"
      (onMove)="move($event)"
    ></app-link-list>
  </div>
</ng-container>
