.content {
  min-height: 300px;
  max-height: 100vh;
  overflow-y: auto;
  position: relative;
}

.loading-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.actions {
  margin-top: 15px;
  display: flex;
  column-gap: 20px;
}

.folder {
}

.links {
  border-left: 1px dashed #555;
  padding-left: 4px;
  margin-left: 12px;
}
.link {
  white-space: nowrap;
}

.links__count {
  font-style: italic;
  font-size: 14px;
  color: #888;
}
