<label
  *ngIf="label"
  [ngClass]="{
    'text-danger ': errors.length > 0,
    'block text-sm text-default60 leading-none mb-[2px]': true
  }"
  [for]="name"
>
  <span>{{ label }}</span>
  <span class="text-red-800">{{
    required && label.length > 0 ? '*' : ''
  }}</span>
</label>
<div
  [style.borderTopLeftRadius.px]="roundedLeft ?? 4"
  [style.borderBottomLeftRadius.px]="roundedLeft ?? 4"
  [style.borderTopRightRadius.px]="roundedRight ?? 4"
  [style.borderBottomRightRadius.px]="roundedRight ?? 4"
  [ngClass]="{
    'ring-danger': errors.length > 0,
    'ring-default30': errors.length === 0,
    'text-default110 bg-default110Inv ring-1 overflow-hidden relative focus-within:!ring-primary focus-within:z-10 hover:z-10 hover:ring-primary90 ': true
  }"
>
  <ng-content></ng-content>
</div>
<div
  class="{{
    !errors.length ? 'max-h-4 opacity-0' : 'max-h-16 opacity-100'
  }} duration-300 min-h-[20px] overflow-hidden transition-all text-danger "
>
  <span
    class="block text-sm min-h-5 mt-[3px] leading-none"
    *ngFor="let error of errors"
  >
    {{ error | fieldError }}
  </span>
</div>
