.access {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 280px;
    height: 1px;
    top: 0;
    left: 50%;
    background: var(--bg-primary-40);
    transform: translate(-50%, 0);
  }

  &__table {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  &__item {
    display: grid;
    padding: 8px 15px;
    grid-template-columns: repeat(4, 1fr) 40px;
    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
    > div {
      display: flex;
      align-items: center;
    }
    &--header {
      text-transform:uppercase;
      background: lighten(#5227cc, 48%);
      color: lighten(#111, 40%);
    }
  }
}
