<app-default-dialog title="Directory Settings" large>
  <div class="relative">
    <form
      class="flex gap-x-2 items-center"
      [formGroup]="editForm"
      (submit)="onEdit()"
    >
      <app-textfield
        class="max-w-[200px]"
        id="name"
        [height]="32"
        label="Directory Name"
        autocomplete="off"
        type="text"
        formControlName="name"
      ></app-textfield>
      <app-select
        *ngIf="availableParents.length > 0"
        class="max-w-[200px]"
        id="parent"
        [height]="32"
        formControlName="parent"
        label="Parent Directory"
        [options]="availableParents"
      >
      </app-select>
      <button
        btn
        primary
        rounded
        class="w-[150px] h-8 ml-auto"
        *ngIf="editForm.dirty"
      >
        Save
      </button>
    </form>
    <div class="access pt-5 pb-10">
      <div class="access__table">
        <div class="access__item access__item--header">
          <div>Code</div>
          <div>Username</div>
          <div>Expires In</div>
          <div>Updated At</div>
          <div></div>
        </div>
        <div class="access__body max-h-[100px] overflow-auto">
          <div class="access__item" *ngFor="let code of codes">
            <div>{{ code.code }}</div>
            <div>{{ code.username ?? '-' }}</div>
            <div>{{ code.expiresIn | date:'dd.MM.yyyy hh:mm' }}</div>
            <div>{{ code.updatedAt | date:'dd.MM.yyyy' }}</div>
            <div class="access__item-actions flex gap-x-2">
              <button btn icon aria-label="edit access" (click)="onEditAccess(code.id)">
                <svg-icon class="w-3" name="pen-icon"></svg-icon>
              </button>
              <button btn icon aria-label="delete access" (click)="onDeleteAccess(code)">
                <svg-icon class="w-3" name="trash-icon"></svg-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="absolute bottom-0 left-0 h-8"
      btn
      full
      primary
      rounded
      (click)="onAddAccessRule()"
    >
      Add
    </button>
  </div>
</app-default-dialog>
